<a href="https://colab.research.google.com/github/Nadacc/Learn.py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [5]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)
#please provide your answer below this line
print(df1.isnull())
print(df1.dropna(axis=0))

                   A         B         C         D   F    E
2021-01-01 -0.507347  0.063913 -0.964919 -0.693050 NaN  1.0
2021-01-02  0.418174 -0.957965  1.456659 -0.954207 NaN  1.0
2021-01-03 -1.175072 -1.032517  1.534564  0.625919 NaN  NaN
2021-01-04 -0.686058  1.041652  0.574477  0.236140 NaN  NaN
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1.fillna(value=20))

                   A         B         C         D     F     E
2021-01-01 -1.018911  0.135221 -0.647315 -0.211194  20.0   1.0
2021-01-02 -1.844293 -1.325311 -0.731698  1.828721  20.0   1.0
2021-01-03 -0.162411  1.926896 -0.726869  0.054558  20.0  20.0
2021-01-04  0.340322  0.864482 -0.387531 -0.287194  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
pieces=[df[:3],df[3:8]]
print(pieces)
print(pd.concat(pieces))
print(pd.concat(pieces,axis=1))
a=df[:3]
b=df[3:8]
print(pd.concat([a,b]))

[          0         1         2         3
0 -1.338386  0.222576  0.455229  0.451681
1  2.354392  0.979869 -1.066638 -0.532614
2 -0.235906  0.685165 -0.694275 -0.267681,           0         1         2         3
3 -0.166671  1.456250  0.075341 -0.593200
4  0.087836  0.715846 -1.090010 -0.400737
5 -1.460626  0.103923  1.047414  2.693722
6 -0.003403  0.979908 -1.447735  1.081245
7  0.771647 -0.156069  0.206514  0.618118]
          0         1         2         3
0 -1.338386  0.222576  0.455229  0.451681
1  2.354392  0.979869 -1.066638 -0.532614
2 -0.235906  0.685165 -0.694275 -0.267681
3 -0.166671  1.456250  0.075341 -0.593200
4  0.087836  0.715846 -1.090010 -0.400737
5 -1.460626  0.103923  1.047414  2.693722
6 -0.003403  0.979908 -1.447735  1.081245
7  0.771647 -0.156069  0.206514  0.618118
          0         1         2  ...         1         2         3
0 -1.338386  0.222576  0.455229  ...       NaN       NaN       NaN
1  2.354392  0.979869 -1.066638  ...       NaN       NaN       NaN
2 -0.235906  0.685165 -0.694275  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  1.456250  0.075341 -0.593200
4       NaN       NaN       NaN  ...  0.715846 -1.090010 -0.400737
5       NaN       NaN       NaN  ...  0.103923  1.047414  2.693722
6       NaN       NaN       NaN  ...  0.979908 -1.447735  1.081245
7       NaN       NaN       NaN  ... -0.156069  0.206514  0.618118

[8 rows x 8 columns]
          0         1         2         3
0 -1.338386  0.222576  0.455229  0.451681
1  2.354392  0.979869 -1.066638 -0.532614
2 -0.235906  0.685165 -0.694275 -0.267681
3 -0.166671  1.456250  0.075341 -0.593200
4  0.087836  0.715846 -1.090010 -0.400737
5 -1.460626  0.103923  1.047414  2.693722
6 -0.003403  0.979908 -1.447735  1.081245
7  0.771647 -0.156069  0.206514  0.618118