<a href="https://colab.research.google.com/github/Nadacc/Learn.py/blob/main/TASK_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and display,
  - where values of the column A is greater than 0.
  - where values of the columns A is greater than 0 and B greater than -1.
  - where values of the columns A  is greater than 0 or B greater than -1.

In [2]:
#please type your code below this line.
import pandas as pd
import numpy as np
dates=pd.date_range('20201010',periods=6)
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print(df)
a=df[df.A>0]
print(a)
print(df[(df.A>0)&(df.B>-1)])
print(df[(df.A>0)|(df.B>-1)])

                   A         B         C         D
2020-10-10  0.999944 -1.391978 -1.568874  0.646580
2020-10-11  0.332933  0.606289 -0.143910 -0.450965
2020-10-12 -0.879941  0.478806  0.691493 -0.722067
2020-10-13  1.165322  0.193832  0.531572  0.277141
2020-10-14 -0.652198 -0.019711  0.329643  0.932926
2020-10-15  0.516304  1.268980 -0.210664 -0.195112
                   A         B         C         D
2020-10-10  0.999944 -1.391978 -1.568874  0.646580
2020-10-11  0.332933  0.606289 -0.143910 -0.450965
2020-10-13  1.165322  0.193832  0.531572  0.277141
2020-10-15  0.516304  1.268980 -0.210664 -0.195112
                   A         B         C         D
2020-10-11  0.332933  0.606289 -0.143910 -0.450965
2020-10-13  1.165322  0.193832  0.531572  0.277141
2020-10-15  0.516304  1.268980 -0.210664 -0.195112
                   A         B         C         D
2020-10-10  0.999944 -1.391978 -1.568874  0.646580
2020-10-11  0.332933  0.606289 -0.143910 -0.450965
2020-10-12 -0.879941  0.478806  0.691493 -0.722067
2020-10-13  1.165322  0.193832  0.531572  0.277141
2020-10-14 -0.652198 -0.019711  0.329643  0.932926
2020-10-15  0.516304  1.268980 -0.210664 -0.195112

2. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and check if ,
  - the values of the table are greater the zero or not.
  - the value at the postion (0,0) is equal to NaN or not.

In [5]:
#please type your code below this line.
import pandas as pd
import numpy as np 
dates=pd.date_range('20201010',periods=6)
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print(df)
print(df>0)
df1=df.loc[dates[0],'A']
print(pd.isna(df1))

                   A         B         C         D
2020-10-10 -0.352826 -0.918882 -0.927196 -1.056849
2020-10-11  0.156231 -1.913722 -1.342134  0.111230
2020-10-12 -0.306235  1.344860  2.334643  1.693327
2020-10-13  0.156617 -0.797080  1.158129 -0.644799
2020-10-14  0.728338  0.936147 -1.614035  1.484006
2020-10-15  0.020216  0.158013 -1.054790  1.501545
                A      B      C      D
2020-10-10  False  False  False  False
2020-10-11   True  False  False   True
2020-10-12  False   True   True   True
2020-10-13   True  False   True  False
2020-10-14   True   True  False   True
2020-10-15   True   True  False   True
False

3. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and,
  - reindex the index with even dates.
  - create a column with values NaN.
  - make the values of the first two index of the newly created column as 1

In [4]:
#please type your answer below this line.
import pandas as pd
import numpy as np
dates=pd.date_range('20201010',periods=6)
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print(df)
df1=df.reindex(index=dates[::2],columns=list(df.columns))
print(df1.assign(E=np.nan))
df1.loc[dates[0]:dates[2],'E']=1
print(df1)

                   A         B         C         D
2020-10-10  0.488412  1.373173  0.030520 -1.274924
2020-10-11 -0.725359 -0.032454  0.353106  0.247096
2020-10-12 -0.327759 -0.720972  0.649783  0.312814
2020-10-13  0.040187  3.239895  1.716529 -0.382060
2020-10-14  0.518097  0.093347 -2.474900 -0.055085
2020-10-15  0.731988  2.626651 -0.196275  0.697218
                   A         B         C         D   E
2020-10-10  0.488412  1.373173  0.030520 -1.274924 NaN
2020-10-12 -0.327759 -0.720972  0.649783  0.312814 NaN
2020-10-14  0.518097  0.093347 -2.474900 -0.055085 NaN
                   A         B         C         D    E
2020-10-10  0.488412  1.373173  0.030520 -1.274924  1.0
2020-10-12 -0.327759 -0.720972  0.649783  0.312814  1.0
2020-10-14  0.518097  0.093347 -2.474900 -0.055085  NaN